/*ESTILOS DE LAS CAJAS CSS*/ 
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*SMOOTH SCROLL*/
html{
  scroll-behavior: smooth;
}
/* ESTILOS GENERALES  */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none!important;
}
ul{
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh; /* 100% de la altura de la ventana grafica del dispositivo que visualice la pagina */
    scroll-behavior: smooth; /* Tipo Desplazamiento vertical entre elementos de la pagina */
    text-rendering: optimizeSpeed; /* Legibilidad del texto */
    line-height: 1.5; /*Altura entre las lineas de un mismo texto*/
    font-family: 'Poppins', sans-serif;
  }


  /* Para botones e inputs, utilizo el valor content-box */
  [role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Fuente secundaria.*/
h1,
h2,
h3,
h5,
.secondary-font {
  font-family: 'Roboto', sans-serif;
}

/* CONTENEDOR GENERAL */ 
.wrapper {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 1rem;
  }


.wrapper-smaller {
    margin: 0 auto;
    max-width: 73rem;
    padding: 0 1rem;
  }  



/* BOTON GENERAL */
  .button {
    background: #2C46FF;
    border: 1px solid #2C46FF;
    border-radius: 2px;
    color: #fff;
    margin-top: 1rem;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    line-height: 1;
    width: 14rem;
    padding: 1.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.17, 0.67, 0.65, -0.03);
  }
  
  .button:hover {
    background: #333333;
    border-color: #333333;
  }

  .txt-primary{
      color: #2E47FF;
  }
  .txt-secondary{
    color: #b5b5b5;
    }

/* ESTILOS ENCABEZADO/HEADER */
#header {
    padding: 1.5rem 0;
    transition: .5s;
}

#header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header .menu-close{
    display: none;
}
#header .menu-close, #header .menu-open{
    border: none;
    background: none;
}
#header .logo a{
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
#header .logo a span{
    font-weight: 300;
}
#header .navigation{
  margin-top: 1rem;
  display: none;
  width: 100%;
  order: 2;
  background: #2C46FF;
  padding: 1rem 0;
  transition: .5s;
}
#header .navigation ul{
  display: flex;
  flex-direction: column;
}
#header .navigation ul li{
  margin: .5rem auto;
  width: 170px;
  padding: .3rem 0;
  text-align: center;
  border-bottom: 1px solid #fff;

}
#header .navigation ul li a{
  color:#fff;
  padding: .5rem;
}
/* ESTILOS SECCION BIENVENIDA */

#bienvenida {
  margin-top: 1rem;
  color: #3c3c3c;
}
#bienvenida .wrapper{
  overflow: hidden;
  position: relative;
}
#bienvenida .billboard_content h3{
  font-weight: 900;
  text-transform: UPPERCASE;
  line-height: 1.1;
  font-size: 4rem;
}
#bienvenida .billboard_content h1{
margin: 2rem 0;
}
#bienvenida .billboard_content h2{
  margin-bottom: 2rem;
  font-size: 2rem;
}
#bienvenida .billboard_img{
  margin-top: 4rem;
  background: #C4C4C4;
  height: 300px;
}
#bienvenida .billboard_img img{
  width: 100%;
  padding: 2rem;
}

/* ESTILOS SECCION PROYECTOS */
#proyectos {
  margin-top: 2rem;
  padding-top: 3rem;
  background: #f0f0f0;
}
#proyectos .wrapper {
  padding-bottom: 2rem;
}
#proyectos h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
#proyectos .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.project-link{
  margin-top: .5rem;
}

#proyectos .row .proyect-item{
  padding: 2rem;
 /* background: #333333; */
  color: #fff;
  
  min-height: 410px;
  min-width: 330px;
  display: flex;
  flex-direction: column;
}

#proyectos div#proyect-1{
  background: url('../img/spacetravel.jpg')no-repeat center center;
  background-size: cover;
}
#proyectos #proyect-2{
  background: url('../img/enfoque.jpg')no-repeat center center;
  background-size: cover;
}
#proyectos #proyect-3{
  background: url('../img/sanofeel.jpg')no-repeat center center;
  background-size: cover;
}
#proyectos div#proyect-4{
  background: url('../img/spacetravel.jpg')no-repeat center center;
  background-size: cover;
  display: none;
}

/* ESTILOS PARA UTILIZAR UNA IMAGEN DE FONDO Y UNA CAPA SEMI-TRANSPARENTE
#proyectos .row .proyect-item{
    background: url(img/proyect-1.jpg)no-repeat center center #2e47ff75;
    height: 390px;
    background-size: cover;
    align-content: center;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
*/
#proyectos .row .proyect-item .proyect-title{
 font-size: 1.8rem;
 font-weight: bold;
}
#proyectos .row .proyect-item .proyect-year{
  font-weight: bold;
}
#proyectos .row .proyect-item .proyect-year, .proyect-description{
  font-size: 1.2rem;
}
/*
#proyectos .row .proyect-item .proyect-img{
  width: 100%;
  margin-top: 2rem;
  border-radius: 3px;
}*/




/* CONTACTO */
#contacto .wrapper .txt-primary{
  text-align: center;
  font-size: 20px;
  margin-bottom: 1.5rem;
}
#contacto .formulario{
  height: 350px;
  width: 100%;
  background: #3c3c3c;
  margin-bottom: 1.5rem;
}
#contacto .datos-contacto {
  text-align: center;
}
#contacto .datos-contacto h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #3c3c3c;
  margin-bottom: 1rem;
}
#contacto .datos-contacto .mail-contact{
  font-weight: bold;
  margin-top: 1.5rem;
}
#contacto .datos-contacto .phone-contact{
  font-weight: bold;
}
/* END CONTACTO */


/* ESTILOS SECCION CONTACTOS */

#contacto {
  margin-top: 2rem;
}
#contacto .row{
  padding: 1.5rem;
  background: #2E47FF;
}
#contacto .row .column h2{
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-size: 2rem;
}
#contacto .row .column .button {
  display: block;
  background: #333333;
  margin: 2.5rem auto 0 auto;
  min-width: 80%;
}

/* ESTILOS SECCION PROYECT-SPACE_TRAVEL */
#space-proyect {
  margin-top: 1rem;
}
#space-proyect .proyect-img {
  background: url(../img/spacetravel.jpg) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
  /* background: #3c3c3c;
  height: 500px; */
}
#space-proyect .proyect-header{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
#space-proyect .proyect-year {
  font-size: 24px;
  font-weight: 500;
}
#space-proyect .proyect-title{
  font-weight: bold;
  font-size: 38px;
  color: #3c3c3c;
}
#space-proyect .proyect-subtitle{
  font-size: 22px;
  color: #868686;
}
#space-proyect .proyect-description h2{
  font-size: 26px;
  color: #3c3c3c;
}
#space-proyect .proyect-description p{
  font-size: 20px;
  color: #868686;
  margin-top: .8rem;
  margin-bottom: 2rem;
}
#space-proyect .row-paleta, #space-proyect .row-solucion {
  margin-top: 3rem;
}
#space-proyect .row-paleta .paleta-content h2, #space-proyect .row-solucion .solucion-content h2,#space-proyect .row-tipografia .tipografia-content h2 {
  font-size: 32px;
  margin-bottom: .8rem;
  color: #3c3c3c;
}
#space-proyect .row-paleta .paleta-content p, #space-proyect .row-tipografia .tipografia-content p, #space-proyect .row-solucion .solucion-content p{
    color: #868686;
    font-size: 20px;
    margin-bottom: 1rem;
}
#space-proyect .paleta-img, #space-proyect .tipografia-img, #space-proyect .solucion-img {
  height: 400px;
  background-color: #3c3c3c;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

}


/* ESTILOS ALBUM */
#album .album-proyect{
  height: 500px;
    margin: 3rem 0;
    background: #3c3c3c;
}
/* ESTILOS PROYECTO ANTERIOR */
#prev-proyect .row {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #2C46FF;
  height: 400px;
}
#prev-proyect .row .column{
  text-align: center;
}
#prev-proyect .row .column h3{
  color: #fff;
  font-size: 20px;
  margin-bottom: 1rem;
}
#prev-proyect .row .column h2
{
  font-size: 38px;
  letter-spacing: 2px;
  color: #fff;
}
#prev-proyect .row .column h2:hover {
  color: #3c3c3c;
}
/* END ESTILOS SECCION PROYECT-SPACE_TRAVEL */

/* ESTILOS SECCION PROYECT-SANOFEEL*/
#sanofeel-proyect {
  margin-top: 1rem;
}
#sanofeel-proyect .proyect-img {
  background: url(../img/sanofeel.jpg) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
  /* background: #3c3c3c;
  height: 500px; */
}
#sanofeel-proyect .proyect-header{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
#sanofeel-proyect .proyect-year {
  font-size: 24px;
  font-weight: 500;
}
#sanofeel-proyect .proyect-title{
  font-weight: bold;
  font-size: 38px;
  color: #3c3c3c;
}
#sanofeel-proyect .proyect-subtitle{
  font-size: 22px;
  color: #868686;
}
#sanofeel-proyect .proyect-description h2{
  font-size: 26px;
  color: #3c3c3c;
}
#sanofeel-proyect .proyect-description p{
  font-size: 20px;
  color: #868686;
  margin-top: .8rem;
  margin-bottom: 2rem;
}
#sanofeel-proyect .row-paleta {
  margin-top: 3rem;
}
#sanofeel-proyect .row-paleta .paleta-content h2, #sanofeel-proyect .row-tipografia .tipografia-content h2 {
  font-size: 32px;
  margin-bottom: .8rem;
  color: #3c3c3c;
}
#sanofeel-proyect .row-paleta .paleta-content p, #sanofeel-proyect .row-tipografia .tipografia-content p{
    color: #868686;
    font-size: 20px;
    margin-bottom: 1rem;
}
#sanofeel-proyect .paleta-img {
  height: 400px;
  background-color: #3c3c3c;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

}
#sanofeel-proyect .tipografia-img{
height: 400px;
margin-top: 1.5rem;
margin-bottom: 2rem;
background: #3c3c3c;
}

/* ESTILOS ALBUM */
#album .album-proyect{
  height: 500px;
    margin: 3rem 0;
    background: #3c3c3c;
}
/* ESTILOS PROYECTO ANTERIOR */
#prev-proyect .row {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #2C46FF;
  height: 400px;
}
#prev-proyect .row .column{
  text-align: center;
}
#prev-proyect .row .column h3{
  color: #fff;
  font-size: 24px;
  margin-bottom: 1rem;
}
#prev-proyect .row .column h2
{
  font-size: 38px;
  letter-spacing: 2px;
  color: #fff;
}
#prev-proyect .row .column h2:hover {
  color: #3c3c3c;
}
/* END ESTILOS SECCION PROYECT-SANOFEEL*/

/* ESTILOS SECCION PROYECT-ENFOQUE*/
#enfoque-proyect {
  margin-top: 1rem;
}
#enfoque-proyect .proyect-img {
  background: url(../img/enfoque.jpg) no-repeat center; 
  background-size: cover;
  height: 500px;
  position: relative;
  /* background: #3c3c3c;
  height: 500px; */
}
#enfoque-proyect .proyect-header{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
#enfoque-proyect .proyect-year {
  font-size: 24px;
  font-weight: 500;
}
#enfoque-proyect .proyect-title{
  font-weight: bold;
  font-size: 38px;
  color: #3c3c3c;
}
#enfoque-proyect .proyect-subtitle{
  font-size: 22px;
  color: #868686;
}
#enfoque-proyect .proyect-description h2{
  font-size: 26px;
  color: #3c3c3c;
}
#enfoque-proyect .proyect-description p{
  font-size: 20px;
  color: #868686;
  margin-top: .8rem;
  margin-bottom: 2rem;
}
#enfoque-proyect .row-paleta {
  margin-top: 3rem;
}
#enfoque-proyect .row-paleta .paleta-content h2, #enfoque-proyect .row-tipografia .tipografia-content h2 {
  font-size: 32px;
  margin-bottom: .8rem;
  color: #3c3c3c;
}
#enfoque-proyect .row-paleta .paleta-content p, #enfoque-proyect .row-tipografia .tipografia-content p{
    color: #868686;
    font-size: 20px;
    margin-bottom: 1rem;
}
#enfoque-proyect .paleta-img {
  height: 400px;
  background-color: #3c3c3c;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

}
#enfoque-proyect .tipografia-img{
height: 400px;
margin-top: 1.5rem;
margin-bottom: 2rem;
background: #3c3c3c;
}

/* ESTILOS ALBUM */
#album .album-proyect, #prototipo .prototipo-proyect{
  height: 500px;
    margin: 2rem 0;
    background: #3c3c3c;
}
#album .row-button{
  margin-bottom: 3.5rem;
}
#album .button{
  width: 80%;
  margin: 5rem auto;
  border-radius: 5px;
}
#album h2, #prototipo h2{
  margin-top: 3rem;
  text-align: center;
  font-size: 32px;
  color: #3c3c3c;
}
/* ESTILOS PROYECTO ANTERIOR */
#prev-proyect .row {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background: #2C46FF;
  height: 400px;
}
#prev-proyect .row .column{
  text-align: center;
}
#prev-proyect .row .column h3{
  color: #fff;
  font-size: 22px;
  margin-bottom: 1rem;
}
#prev-proyect .row .column h2
{
  font-size: 38px;
  letter-spacing: 2px;
  color: #fff;
}
#prev-proyect .row .proyect-mobile a {
  font-size: 25px;
  letter-spacing: 2px;
  color: #fff;
}
#prev-proyect .row .proyect-mobile span{
  color:#fff;
  font-size: 25px;
}
#prev-proyect .row .column h2:hover {
  color: #3c3c3c;
}

#prev-proyect .proyect-desktop{
  display: none;
}
/* END ESTILOS SECCION PROYECT-ENFOQUE*/

/* ESTILOS SECCION SOBRE MI */

#sobre_mi {
  margin-top: 1rem;
}
#sobre_mi .wrapper{
  overflow: hidden;
  position: relative;
}
#sobre_mi .billboard_content h3{
  line-height: 1.1;
  font-weight: 500;
  font-size: 24px;
}
#sobre_mi .billboard_content h1{
margin-bottom: 2rem;
margin-top: .5rem;
font-size: 32px;
color: #3C3C3C;
}
#sobre_mi .billboard_content .descripcion p{
  margin: 1rem 0;
  font-size: 22px;
  font-weight: 300;
  color: #868686;
}
#sobre_mi .row {
  margin-top: 2rem;
}
#sobre_mi .herramientas h2, #sobre_mi .servicios h2{
  margin-top: 1rem;
  font-size: 26px;
  color: #3C3C3C;
}
#sobre_mi .herramientas p, #sobre_mi .servicios p{
  margin: 1rem 0;
  font-size: 22px;
  font-weight: 400;
  color: #868686;
}
#sobre_mi .button {
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 5px;
}
/* #sobre_mi .billboard_img{
  margin-top: 2rem;
  background: #333333; */
}
#sobre_mi .billboard_img img{
  width: 100%;
  padding: 2rem;
}



/* ESTILOS SECCION CONTACTOS */

#contacto {
  margin-top: 7rem;
}
#contacto .row{
  padding: 1.5rem;
  background: #2E47FF;
}
#contacto .row .column h2{
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-size: 2rem;
}
#contacto .row .column .button {
  display: block;
  background: #333333;
  margin: 2.5rem auto 0 auto;
  min-width: 80%;
}

/* ESTILOS FOOTER */
#footer {
  margin-top: 2rem;
  background: #333333;
  padding: 2rem 0;
}
#footer ul{
  display: flex;
  justify-content: center;
}
#footer ul li {
  margin-right: 1rem;
}
#footer ul li i {
  color: #fff;
  font-size: 1.5rem;
}
#footer p{
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

/* END ESTILOS SECCION SOBRE MI */




/* ESTILOS FOOTER */
#footer {
  margin-top: 2rem;
  background: #333333;
  padding: 2rem 0;
}
#footer ul{
  display: flex;
  justify-content: center;
}
#footer ul li {
  margin-right: 1rem;
}
#footer ul li i {
  color: #fff;
  font-size: 1.5rem;
}
#footer p{
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

/*FLECHA IR ARRIBA*/
.ir-arriba {
border-radius: 5px;
font-size: 1.5rem;
position: fixed;
bottom: 1rem;
padding: .5rem;
background: #2e47ff2e;
right: 2rem;
color: #fff;
width: 49px;
height: 49px;
text-align: center;
}

/* RESPONSIVE DESIGN  */

@media (max-width: 1167px) {
#proyectos .row {
  flex-direction:column ;
  justify-content: center;
  }
}
@media (min-width: 768px) {
  #sobre_mi .button {
    width: 50%;
    margin:auto;
    margin: 2rem auto;
  }
}

@media (min-width: 996px) {
  /* ESTILOS GENERALES */
  .wrapper {
    width: 90%;
  }
  /* MENU DE NAVEGACION*/
  .menu-open{
    display: none;
  }
  .navigation{
    display: block!important;
    margin-top: 0!important;
    width: auto!important;
    order: 0!important;
    background: transparent!important;
    padding: 0!important;
  }
  .navigation ul {
    flex-direction: row!important;
  }
  .navigation ul li{
    width: auto!important;
    border-bottom: none!important;
  }
  .navigation ul li a{
    margin-right: .5rem;
    padding: .5rem 1rem;
    color: #2c46ff!important;
  }
  .navigation ul li a:hover{
    color:black!important;
  }
  .navigation ul li a.active{
    border-bottom: 1px solid black;
    color: black!important;
  }
  /* BIENVENIDA */
  #bienvenida .wrapper{
    display: flex;
    justify-content: space-between;
  }
  #bienvenida .billboard_content{
    width: 52%;
    flex:0 0 auto;
  }
  #bienvenida .billboard_img{
    flex: 0 0 auto;
    width: 45%;
    align-items: center;
    display: flex;
    margin-top: 0;
    height: auto!important;
  }
  /* PROYECTOS */
  #proyectos .wrapper .row {
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
 
  .project-link{
    margin: .5rem;
  }

  #proyectos .row .proyect-item{
    width: 49%;
    flex: 0 0 auto;
    height: 900px;
    width: 552px;
  }
  /* CONTACTO */
  #contacto h2 br{
    display: none;
  }
  #contacto a.button{
    min-width: 25%!important;
  }

  /* SOBRE MI */
    /* SOBRE MI */
    #sobre_mi .wrapper{
      display: flex;
      justify-content: space-between;
    }
    #sobre_mi .billboard_content{
      width: 50%;
      flex:0 0 auto;
    }
    #sobre_mi .billboard_content .descripcion p {
      font-size: 20px;
    }
    #sobre_mi .billboard_content h1{
      font-size: 36px;
    }
    #sobre_mi .row {
      display: flex;
      justify-content: space-between;
    }
    #sobre_mi .row .herramientas{
      width: 50%;
    }
    #sobre_mi .row .servicios {
      width: 45%;
    }
    #sobre_mi .herramientas h2, #sobre_mi .servicios h2{
      font-size: 22px;
    }
    #sobre_mi .billboard_img{
      flex: 0 0 auto;
      width: 45%;
      margin-top: 12rem;
    }
    #sobre_mi .button {
      margin: 2rem 0!important;
    }
    
    /* CONTACTO */
    #contacto h2 {
      font-size: 3rem!important;
      font-weight: 500;
    }
    #contacto h2 br{
      display: none;
    }
    #contacto a.button{
      min-width: 25%!important;
    }
    
    /* FORM - CONTACTO */
  @media (min-width: 768px) {
  #contacto .wrapper .txt-primary{
    font-size: 26px;
  }
  #contacto .formulario{
    height: 350px;
    width: 50%;
    margin:auto;
    background: #3c3c3c;
    margin-bottom: 1.5rem;
  }
  
  #contacto .datos-contacto h2{
    font-size: 28px;
  }
  #contacto .datos-contacto .mail-contact{
    font-weight: bold;
    margin-top: 1.5rem;
  }
  #contacto .datos-contacto .phone-contact{
    font-weight: bold;
  }
  }

  /* space_travel-PROYECT */
  #space-proyect{
    margin-top: 2rem;
  }
  #space-proyect .proyect {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  #space-proyect .proyect .proyect-img {
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }
  #space-proyect .proyect .proyect-header{
    margin:0;
  }
  #space-proyect .proyect .proyect-description h2{
    font-size: 22px;
  }
  #space-proyect .proyect .proyect-description p{
    font-size: 18px;
  }
  #space-proyect .proyect .proyect-header , #space-proyect .proyect .proyect-description{
    width: 50%;
  }
  /* ROW PALETA DE COLORES Y ROW TIPOGRAFIA */
  #space-proyect .row-paleta, #space-proyect .row-tipografia,#space-proyect .row-solucion {
  justify-content: space-between;
  display: flex;
  align-items: center;
  }
  .row-paleta .paleta-content, .row-solucion .solucion-content{
    width: 47%;
  }
  .row-paleta .paleta-content h2, .row-tipografia .tipografia-content h2, .row-solucion .solucion-content h2{
    font-size: 28px!important;
  }
  .row-paleta .paleta-content p, .row-tipografia .tipografia-content p, .row-solucion .solucion-content p{
    font-size: 18px!important;
  }
  .row-paleta .paleta-img , .row-tipografia .tipografia-img, .row-solucion .solucion-img{
    height: 500px!important;
    width: 47%;
  }
  .row-tipografia .tipografia-content {
    order: 1;
    width: 47%;
  }
 
  /* PREVIOUS PROYECT */
  #prev-proyect{
    background: #2C46FF;
  }
  #prev-proyect .row .column h2
  {
    font-size: 46px;
  }


  /* PROYECT-SANOFEEL */
  #sanofeel-proyect{
    margin-top: 2rem;
  }
  #sanofeel-proyect .proyect {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  #sanofeel-proyect .proyect .proyect-img {
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }
  #sanofeel-proyect .proyect .proyect-header{
    margin:0;
  }
  #sanofeel-proyect .proyect .proyect-description h2{
    font-size: 22px;
  }
  #sanofeel-proyect .proyect .proyect-description p{
    font-size: 18px;
  }
  #sanofeel-proyect .proyect .proyect-header , #sanofeel-proyect .proyect .proyect-description{
    width: 50%;
  }
  /* ROW PALETA DE COLORES Y ROW TIPOGRAFIA */
  #sanofeel-proyect .row-paleta, #sanofeel-proyect .row-tipografia {
  justify-content: space-between;
  display: flex;
  align-items: center;
  }
  .row-paleta .paleta-content{
    width: 47%;
  }
  .row-paleta .paleta-content h2, .row-tipografia .tipografia-content h2{
    font-size: 28px!important;
  }
  .row-paleta .paleta-content p, .row-tipografia .tipografia-content p{
    font-size: 18px!important;
  }
  .row-paleta .paleta-img {
    height: 500px!important;
    width: 47%;
  }
  .row-tipografia .tipografia-content {
    order: 1;
    width: 47%;
  }
  .row-tipografia .tipografia-img {
    width: 47%;
    height: 500px!important;
  }
  /* PREVIOUS PROYECT */
  #prev-proyect{
    background: #2C46FF;
  }
  #prev-proyect .row .column h2
  {
    font-size: 46px;
  }

  /* PROYECT-ENFOQUE */
  /* ALBUM BUTTON */
@media (min-width: 768px) {
  #album .button{
    width: 350px;
    padding: 1rem;
  }

  #prev-proyect .proyect-mobile{
    display: none;
  }
  #prev-proyect .column{
    padding: 0 1.5rem;
  }
  #prev-proyect .proyect-desktop{
    display: flex;
    justify-content: space-between;

  }
}

  #enfoque-proyect{
    margin-top: 2rem;
  }
  #enfoque-proyect .proyect {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }
  #enfoque-proyect .proyect .proyect-img {
    width: 100%;
    order: 1;
    margin-top: 1rem;
  }
  #enfoque-proyect .proyect .proyect-header{
    margin:0;
  }
  #enfoque-proyect .proyect .proyect-description h2{
    font-size: 22px;
  }
  #enfoque-proyect .proyect .proyect-description p{
    font-size: 18px;
  }
  #enfoque-proyect .proyect .proyect-header , #enfoque-proyect .proyect .proyect-description{
    width: 49%;
  }
  /* ROW PALETA DE COLORES Y ROW TIPOGRAFIA */
  #enfoque-proyect .row-paleta, #enfoque-proyect .row-tipografia {
  justify-content: space-between;
  display: flex;
  align-items: center;
  }
  .row-paleta .paleta-content{
    width: 47%;
  }
  .row-paleta .paleta-content h2, .row-tipografia .tipografia-content h2{
    font-size: 28px!important;
  }
  .row-paleta .paleta-content p, .row-tipografia .tipografia-content p{
    font-size: 18px!important;
  }
  .row-paleta .paleta-img {
    height: 500px!important;
    width: 47%;
  }
  .row-tipografia .tipografia-content {
    order: 1;
    width: 47%;
  }
  .row-tipografia .tipografia-img {
    width: 47%;
    height: 500px!important;
  }
  
  /* PREVIOUS PROYECT */
  #prev-proyect{
    background: #2C46FF;
  }
  #prev-proyect .row .column h2
  {
    font-size: 46px;
  }


  /* CONTACTO */
  #contacto h2 {
    font-size: 3rem!important;
    font-weight: 500;
  }
  #contacto h2 br{
    display: none;
  }
  #contacto a.button{
    min-width: 25%!important;
  }

  
}
@media (min-width: 1300px) {
  #proyectos div#proyect-4{
    display: block;
    visibility: hidden
  }
} 
