/*ESTILOS DE LAS CAJAS CSS*/ 
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ESTILOS GENERALES  */
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none!important;
}
ul{
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh; /* 100% de la altura de la ventana grafica del dispositivo que visualice la pagina */
    scroll-behavior: smooth; /* Tipo Desplazamiento vertical entre elementos de la pagina */
    text-rendering: optimizeSpeed; /* Legibilidad del texto */
    line-height: 1.5; /*Altura entre las lineas de un mismo texto*/
    font-family: 'Poppins', sans-serif;
  }


  /* Para botones e inputs, utilizo el valor content-box */
  [role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Fuente secundaria.*/
h1,
h2,
h3,
h5,
.secondary-font {
  font-family: 'Roboto', sans-serif;
}

/* CONTENEDOR GENERAL */ 
.wrapper {
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 1rem;
  }

/* BOTON GENERAL */
  .button {
    background: #2C46FF;
    border: 1px solid #2C46FF;
    border-radius: 2px;
    color: #fff;
    margin-top: 1rem;
    display: block;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    line-height: 1;
    width: 14rem;
    padding: 1.5rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 200ms cubic-bezier(0.17, 0.67, 0.65, -0.03);
  }
  
  .button:hover {
    background: #333333;
    border-color: #333333;
  }

  .txt-primary{
      color: #2E47FF;
  }
  .txt-secondary{
    color: #b5b5b5;
    }

/* ESTILOS ENCABEZADO/HEADER */
#header {
    padding: 1.5rem 0;
    transition: .5s;
}

#header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header .menu-close{
    display: none;
}
#header .menu-close, #header .menu-open{
    border: none;
    background: none;
}
#header .logo a{
    font-weight: bold;
    color: #000;
    font-size: 18px;
}
#header .logo a span{
    font-weight: 300;
}
#header .navigation{
  margin-top: 1rem;
  display: none;
  width: 100%;
  order: 2;
  background: #2C46FF;
  padding: 1rem 0;
  transition: .5s;
}
#header .navigation ul{
  display: flex;
  flex-direction: column;
}
#header .navigation ul li{
  margin: .5rem auto;
  width: 170px;
  padding: .3rem 0;
  text-align: center;
  border-bottom: 1px solid #fff;

}
#header .navigation ul li a{
  color:#fff;
  padding: .5rem;
}
/* ESTILOS SECCION BIENVENIDA */

#bienvenida {
  margin-top: 1rem;
  color: #3c3c3c;
}
#bienvenida .wrapper{
  overflow: hidden;
  position: relative;
}
#bienvenida .billboard_content h3{
  font-weight: 900;
  text-transform: UPPERCASE;
  line-height: 1.1;
  font-size: 4rem;
}
#bienvenida .billboard_content h1{
margin: 2rem 0;
}
#bienvenida .billboard_content h2{
  margin-bottom: 2rem;
  font-size: 2rem;
}
#bienvenida .billboard_img{
  margin-top: 4rem;
  background: #333333;
}
#bienvenida .billboard_img img{
  width: 100%;
  padding: 2rem;
}

/* ESTILOS SECCION PROYECTOS */
#proyectos {
  margin-top: 2rem;
  padding-top: 3rem;
  background: #f0f0f0;
}
#proyectos .wrapper {
  padding-bottom: 2rem;
}
#proyectos h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
}
#proyectos .row {
  display: flex;
  flex-direction: column;
}
#proyectos .row .proyect-item{
  padding: 2rem;
 /* background: #333333; */
  color: #fff;
  margin-top: 2rem;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#proyectos div#proyect-1{
  background: url('../img/spacetravel.jpg')no-repeat center center;
  background-size: cover;
}
#proyectos #proyect-2{
  background: url('../img/enfoque.jpg')no-repeat center center;
  background-size: cover;
}
#proyectos #proyect-3{
  background: url('../img/sanofeel.jpg')no-repeat center center;
  background-size: cover;
}

/* ESTILOS PARA UTILIZAR UNA IMAGEN DE FONDO Y UNA CAPA SEMI-TRANSPARENTE
#proyectos .row .proyect-item{
    background: url(img/proyect-1.jpg)no-repeat center center #2e47ff75;
    height: 390px;
    background-size: cover;
    align-content: center;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
*/
#proyectos .row .proyect-item .proyect-title{
 font-size: 1.8rem;
 font-weight: bold;
}
#proyectos .row .proyect-item .proyect-year{
  font-weight: bold;
}
#proyectos .row .proyect-item .proyect-year, .proyect-description{
  font-size: 1.2rem;
}
/*
#proyectos .row .proyect-item .proyect-img{
  width: 100%;
  margin-top: 2rem;
  border-radius: 3px;
}*/

/* ESTILOS SECCION CONTACTOS */

#contacto {
  margin-top: 2rem;
}
#contacto .row{
  padding: 1.5rem;
  background: #2E47FF;
}
#contacto .row .column h2{
  text-align: center;
  color: #fff;
  line-height: 1.5;
  font-size: 2rem;
}
#contacto .row .column .button {
  display: block;
  background: #333333;
  margin: 2.5rem auto 0 auto;
  min-width: 80%;
}

/* ESTILOS FOOTER */
#footer {
  margin-top: 2rem;
  background: #333333;
  padding: 2rem 0;
}
#footer ul{
  display: flex;
  justify-content: center;
}
#footer ul li {
  margin-right: 1rem;
}
#footer ul li i {
  color: #fff;
  font-size: 1.5rem;
}
#footer p{
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

/*FLECHA IR ARRIBA*/
.ir-arriba {
border-radius: 5px;
font-size: 1.5rem;
position: fixed;
bottom: 1rem;
padding: .5rem;
background: #2e47ff2e;
right: 2rem;
color: #fff;
}

/*** RESPONSIVE DESIGN ***/

@media (min-width: 996px) {
  /* ESTILOS GENERALES */
  .wrapper {
    width: 90%;
  }
  /* MENU DE NAVEGACION*/
  .menu-open{
    display: none;
  }
  .navigation{
    display: block!important;
    margin-top: 0!important;
    width: auto!important;
    order: 0!important;
    background: transparent!important;
    padding: 0!important;
  }
  .navigation ul {
    flex-direction: row!important;
  }
  .navigation ul li{
    width: auto!important;
    border-bottom: none!important;
  }
  .navigation ul li a{
    margin-right: .5rem;
    padding: .5rem 1rem;
    color: #2c46ff!important;
  }
  .navigation ul li a:hover{
    color:black!important;
  }
  .navigation ul li a.active{
    border-bottom: 1px solid black;
    color: black!important;
  }
  /* BIENVENIDA */
  #bienvenida .wrapper{
    display: flex;
    justify-content: space-between;
  }
  #bienvenida .billboard_content{
    width: 52%;
    flex:0 0 auto;
  }
  #bienvenida .billboard_img{
    flex: 0 0 auto;
    width: 45%;
    align-items: center;
    display: flex;
    margin-top: 0;
  }
  /* PROYECTOS */
  #proyectos .wrapper .row {
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #proyectos .row .proyect-item{
    margin-top: 0;
    width: 50%;
    flex: 0 0 auto;
  }
  /* CONTACTO */
  #contacto h2 br{
    display: none;
  }
  #contacto a.button{
    min-width: 25%!important;
  }
  
}