/* Based on: https://dev.to/hankchizljaw/a-modern-css-reset-6p3 */
/* ----------------------- RESET ------------------ */
/**
 * Box sizing rules
 * https://developer.mozilla.org/es/docs/Web/CSS/box-sizing
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

[role='button'],
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Make `a` like a button */
[role='button'] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * rem - https://es.wikipedia.org/wiki/Em_(tipograf%C3%ADa)
 *
 * Por defecto el navegador tiene como tipografía base 16px, pero el usuario
 * puede modificarlo desde las preferencias de su navegador.
 * Una opción para configurar el tamaño de todo nuestro documento es utilizar
 * esta medida base como referencia para calcular nuestros valores en rems.
 *
 * El fórmula para calcular los rems es el valor en pixels dividido por el
 * tamaño de tipografía base (16px), por lo tanto, para obtener el valor en rems
 * para 48px:
 * 48 / 16 = 3
 *
 * por lo tanto:
 * h1 {
 *   font-size: 3rem;
 * }
 *
 * Para simplificar el cálculo, una práctica muy común es convertir el tamaño de
 * tipografía base a 10px, pero en su versión de porcentaje. Realizando una
 * regla de tres simple, tomando 16px como el 100%, el resultado nos da 62.5%
 *
 * Con esta operación, el cálculo de los valores de rem resultan más sencillos,
 * ya que nuestra tipografía base ahora es 10 y la división es más sencilla.
 * Tomamos de ejemplo el mismo caso de 48px:
 * 48 / 10 = 4.8
 *
 * y visualmente es mucho más fácil de ver el número en pixels original.
 */

/* ----------------------- GLOBAL ------------------ */

html {
  font-size: 62.5%; /* Tipografía base: 10px */
}

/**
 * Cargamos las familias tipográficas en nuestro CSS
 * Añadimos las familias "fallback", en caso que no cargue la familia "Work Sans"
 * buscará la siguiente, en este caso la "Helvetica", y así hasta llegar a la
 * última que es la "sans-serif" (o "serif") que será la por defecto del sistema.
 * Normalmente se suele utilizar una o varias safe fonts
 *
 * https://www.w3schools.com/cssref/css_websafe_fonts.asp
 */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; /* Tamaño de fuente: 16px */
  line-height: 1.3;
}

h1,
h2,
h3,
.secondary-font {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3.6rem; /* Tamaño de fuente: 36px */
  line-height: 1.1;
}

h2 {
  font-size: 3.2rem; /* Tamaño de fuente: 32px */
  line-height: 1.88;
}

a {
  color: #a956d0;
}

p + p {
  margin: 1.5rem 0 0;
}

/* ----------------------- UTILITIES ------------------ */
/**
 * El wrapper o contenedor, nos permite reaprovechar un solo estilo para
 * varios elementos en nuestro HTML. Reducimos código y generamos un elemento
 * modular que podemos aprovechar en muchas páginas y secciones.
 */
.wrapper {
  margin: 0 auto;
  max-width: 128rem;
  padding: 0 1rem;
}

.button {
  background: #a956d0;
  border: 1px solid #a956d0;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  line-height: 1;
  min-width: 18rem;
  padding: 1.5rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 250ms cubic-bezier(0.17, 0.67, 0.65, -0.03);
}

.button:hover {
  background: #5d2775;
  border-color: #5d2775;
}

.hollow {
  background: none;
  color: #a956d0;
}

.hollow:hover {
  background: #a956d0;
  border-color: #a956d0;
  color: #fff;
}

/* ----------------------- HEADER ------------------ */

.header {
  width: 100%;
}

.header-container {
  /**
   * Para practicar más con flexbox (flex), pueden utilizar la siguiente web:
   * https://flexboxfroggy.com/#es
   */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----------------------- NAVIGATION ------------------ */

/**
 * De momento ocultamos estos elementos para dispositivos móviles, siguiendo los
 * principios de "Mobile First". Primero trabajamos la visualización en
 * dispositivos móviles y vamos añadiendo en dispositivos más grandes
 */
.navigation {
  display: none;
}

.menu-close {
  display: none;
}

/* ----------------------- BILLBOARD ------------------ */

.billboard {
  margin: 0 0 3rem;
}

.billboard .wrapper {
  overflow: hidden;
  position: relative;
  max-height: 90vh;
}

.billboard__title,
.billboard__description,
.billboard__image {
  margin: 0 0 2rem;
}

.billboard__content {
  max-width: 56rem;
}

/* ----------------------- ABOUT ------------------ */

.about {
  margin: 0 0 8rem;
}

.about__content {
  padding: 3rem 0;
}

.profile-picture {
  background: url(../img/profile.jpg) 50% no-repeat;
  background-size: cover;
  max-width: 32rem;
}

.profile-picture::before {
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

/* ----------------------- CONTACT ------------------ */

.contact__row {
  padding: 8rem 0;
  position: relative;
}

.contact__row::before {
  background: #848484;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  max-width: 60rem;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

/* ----------------------- FOOTER ------------------ */

.footer {
  background: #1a1a1a;
  color: #ffffff;
  height: 6rem;
}

/* ----------------------- RESPONSIVE 960px ------------------ */
@media (min-width: 60em) {
  /* ----------------------- UTILITIES ------------------ */

  .row {
    align-items: flex-start;
    display: flex;
    width: 100%;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .column {
    width: 50%;
  }

  /* ----------------------- BILLBOARD ------------------ */

  .navigation {
    display: block;
  }

  .menu-open {
    display: none;
  }

  /* ----------------------- BILLBOARD ------------------ */

  .billboard__image {
    margin: 0;
  }

  .billboard__content {
    background: #fff;
    bottom: 0;
    left: 4rem;
    padding: 2rem 2rem 0.5rem;
    position: absolute;
  }

  /* ----------------------- ABOUT ------------------ */

  .about__content {
    padding: 3rem 6rem;
  }

  .profile-picture {
    max-width: initial;
  }
}
/* ----------------------- END RESPONSIVE 960px ------------------ */
